
<nav class="navbar navbar-light bg-light">
    <a><i class="fa fa-phone"></i> +1 518 123 4567 | <i class="fa fa-envelope"></i> info@ticketing.com</a>
    <div class="pull-right">
        <a routerLink="/login"> LOG IN</a>
        &nbsp;
        <span class="topHeaderDivider">|</span>
        &nbsp;
        <a routerLink="/signup">SIGN UP</a>
    </div>
  </nav>


<!-- New Header -->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="">Ticketing</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">

      <a class="nav-item nav-link" routerLink="schedule">Schedule</a>
      <a class="nav-item nav-link" routerLink="">Sports</a>
      <a class="nav-item nav-link" routerLink="parties">Parties</a>
      <a class="nav-item nav-link" routerLink="theatre">Theater</a>
      <a class="nav-item nav-link" routerLink="gallery">Gallery</a>
      <a class="nav-item nav-link" routerLink="">Tickets</a>
    <!--
      <a class="nav-item nav-link" routerLink="/schedule">Schedule</a>
      <a class="nav-item nav-link" routerLink="/category">Sports</a>
      <a class="nav-item nav-link" routerLink="/category">Parties</a>
      <a class="nav-item nav-link" routerLink="/category">Theater</a>
      <a class="nav-item nav-link" routerLink="/category">Gallery</a>
      <a class="nav-item nav-link" routerLink="/category">Tickets</a>

     -->
</div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/checkout">Cart
        <i class="fa fa-shopping-cart"></i>
      </a>
    </div>
  </div>
</nav>
