
<div class="container">
	<div class="row">
		
		    <div class="col-md-12">
		        <div class="history_wrapper">
		            
		            <div class="history_header">
		                <div class="history_header_product">
		                    Event Name
		                </div> 
		                 <div class="history_header_quantity">
		                    Quantity
		                </div>   
		                 <div class="history_header_size">
		                    Price
		                </div>  
		                 <div class="history_header_date">
		                    Date
		                </div>    
		            </div>
		            
		            
		              <div class="history_body col-md-12">
		                    <div class="history_list">
		                        <div class="history_item_name">
		                           <span class="item_name"> Super Hero </span>
		                       
		                           <span class="item_name"> Revenger </span>
		                     
		                           <span class="item_name"> MamaMia </span>
		                        </div>
		                         <div class="history_item_quantity">
		                             
	                                <span class="item_quantity">
	                                    1
	                                </span>
	                                   <span class="item_quantity">
	                                   6
	                                </span>
	                                   <span class="item_quantity">
	                                    3
	                                </span>
	                                
		                         </div>
		                           <div class="history_item_size">
		                             
	                                <span class="item_size">
	                                   14580
	                                </span>
	                                   <span class="item_size">
	                                  94588
	                                </span>
	                                   <span class="item_size">
	                                    12345
	                                </span>
	                                
		                         </div>
		                         <div class="history_item_date">
		                             
	                                <span class="item_date">
	                                    23-jun-2017
	                                </span>
	                                
		                         </div>
		                      
		                         <div class="history_list_footer">
		                            
		                           <span class="label label-success">Completed</span>
		                             <span class="histroy_total"><b>Total : </b>230907</span>
		                         </div>
		                    </div>
		              </div>
		            
		        </div>
		    </div>
		
	</div>
</div>