<div class="container">
    <h3>UP COMING</h3>
    <div class="card-group">
        <div class="card flex-row flex-wrap">
            <div class="card-header border-0">
                <img src="https://marketplace.canva.com/MABzyr5HqPU/2/0/thumbnail_large/canva-orange-jazz-festival-concert-poster-MABzyr5HqPU.jpg" alt="" routerLink="/details">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Description</p>  
            </div>
            <div class="w-100"></div> 
        </div>
        <div class="card flex-row flex-wrap">
            <div class="card-header border-0">
                <img src="https://marketplace.canva.com/MABzsAcf3pQ/2/0/thumbnail_large/canva-guitar-concert-poster-MABzsAcf3pQ.jpg" alt="" routerLink="/details">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Description</p>  
            </div>
            <div class="w-100"></div> 
        </div>    <div class="card flex-row flex-wrap">
            <div class="card-header">
                <img src="https://marketplace.canva.com/MABzssSZ5o0/3/0/thumbnail_large/canva-the-transatlantic-tour-concert-poster-MABzssSZ5o0.jpg" alt="" routerLink="/details">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Description</p>  
            </div>
            <div class="w-100"></div> 
        </div>    <div class="card flex-row flex-wrap">
            <div class="card-header border-0">
                <img src="https://marketplace.canva.com/MABzscCfOMw/3/0/thumbnail_large/canva-cassette-tape-concert-poster-MABzscCfOMw.jpg" alt="" routerLink="/details">
            </div>
            <div class="card-block px-2">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Description</p>  
            </div>
            <div class="w-100"></div> 
        </div>
      </div>

</div>