<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Find your ticket!</h1>
      <p>Order your ticket and enjoy your day!</p>
      <div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-6 col-md-push-3">
          <div class="input-group searchBox">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" routerLink="results">Go!</button>
            </span>
          </div>
        </div>
    </div>
  </div>